src/main/mule/Implementations/get-covid-case-by-national-id.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="get:\cases\(nationalID):uhub-sapi-config">
		<ee:transform doc:name="CorrelationID and Input Payload" doc:id="bfc32c90-ac7b-46af-827a-49a1aa8d28e9" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="Inputpayload" ><![CDATA[payload]]></ee:set-variable>
				<ee:set-variable variableName="correlationid" ><![CDATA[attributes.headers.'x-correlation-id' default ""]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Start Log" doc:id="594fa5d5-3e1f-4fcb-9eeb-b95755ca1180" message='transactionID: #[vars.transactionid], correlationID: #[vars.correlationid], message: "Started get covid case flow", payload: #[payload]' />
		<set-variable value="#[attributes.uriParams.nationalID]" doc:name="Set NationalID By Uriparameter" doc:id="b57a1fa7-5a7d-4bed-9ebc-7c3c5ead1f52" variableName="SetNationalID" />
		<flow-ref doc:name="Flow Reference" doc:id="608e1ba8-8716-4483-8406-47fbd8aa6708" name="get-covid-case-sub-flow" />
		<choice doc:name="Choice" doc:id="235a4c2a-8d9b-4c77-a572-bb1b780144ec" >
			<when expression="#[sizeOf(payload) &gt; 0]">
				<ee:transform doc:name="Set Success Response" doc:id="dcb78431-c053-45a8-9a57-078458a6a7bd" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map (covidCase, indexOfcovidCase) ->{
caseID: covidCase.case_id,
source: covidCase.source,
caseType: covidCase.case_type,
firstName: covidCase.first_name,
lastName: covidCase.last_name,
phone: covidCase.phone,
email: covidCase.email,
dateOfBirth: covidCase.date_of_birth as String {format: "yyyy-MM-dd"},
nationalID: covidCase.national_id,
nationalIDType: covidCase.national_id_type,
address: {
	streetAddress: covidCase.street_address,
	city: covidCase.city,
	state: covidCase.state,
	postal: covidCase.postal,
	country: covidCase.country	
},
createDate: covidCase.creat_date as String {format: "dd-MMM-yy"},
updateDate: covidCase.update_date as String {format: "dd-MMM-yy"}	
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Set Not Found Response" doc:id="810dd8de-29ea-4b49-b568-93e2823e0a94" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"code": 404,
	"message": "Resource not found",
	"description": "The server has not found anything matching the request-URI",
	"dateTime": now() as String {format: "yyyy-MM-dd 'T' HH:mm:ss 'Z'"},
	"transactionId": vars.transactionid
	
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="End Logger" doc:id="5aac1e7d-aa02-4fd1-8fb8-6b38eaa916a0" message='transactionID: #[vars.transactionId], correlationID: #[vars.correlationId], message: "Completed get covid case flow", payload: #[payload]' />
    
</flow>
	</mule>
